latex-resumes/build/
latex-resumes/out/*.synctex.gz

latex-covers/build/
latex-covers/out/*.synctex.gz

latex-references/build/
latex-references/out/*.synctex.gz
latex-case-study/build/
latex-case-study/out/*.synctex.gz
saved/
experience.yaml


resumake/server/**/__pycache__/
